body {
  margin: 0 ;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/2225053.jpg"); */
  background-color: rgb(8, 5, 51);
  background-position: center;
  background-size: cover;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  padding: 0;
  background-repeat: no-repeat;
  overflow: hidden;
  
}

#start-container {
  margin: 10em auto;
  text-align: center;
  color: white;
}
#start-container img {
  width: 30em;
}

span {
  color: white;
}

.choose {
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

#container {
  margin: 0px auto;
  padding: 20px 10px 20px 0px;
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;
}


#banner-green {
  background-color: #08350e8f;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 13px;
  color: white;
}

#banner-pink {
  background-color: #a041556c;
  border-radius: 300px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 10px;
  margin-top: 300px;

}

#banner-blue {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100%;
  height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 13px;
  color: white;
}

.audio {
  display: none;
}

.col3 {
  float: left;
  width: 33%;
  text-align: center;
  margin: 10px 0 -12px;
}

.col3 img {
  width: 20%;
}
.col3 #robo {
  width: 40%;
}

.colhead {
  text-transform: uppercase;
  font-size: 1.125em;
}

.colhead2 {
  text-transform: uppercase;
  font-size: 1.385em;
}

.choose {
  text-transform: uppercase;
  line-height: 250%;

}

.choose img {
  width: 100%;
  margin-top: 15px;

}

.choose:hover {
  cursor: pointer;
}

#rock:hover {
  transition: .5s ease;
  /* background: #77889a; */
  border-radius: 10px;
  color: #fff;
  transform: scale(1.1);


}

#paper:hover {
  transition: .5s ease;
  /* background: #00aede; */
  border-radius: 10px;
  color: #fff;
  transform: scale(1.1);
}

#scissors:hover {
  transition: .5s ease;
  /* background: #ed718b; */
  border-radius: 10px;
  color: #fff;
  transform: scale(1.1);
}

.score {
  background-color: #1cc939;
  margin: 10px auto 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
  border: 4px solid #000;
  border-radius: 10px;
}

#record {
  line-height: 180%;
  font-size: 0.813em;
}

.left {
  width: 33%;
  float: left;
  text-align: left;
}

.center {
  width: 33%;
  float: left;
  text-align: center;
}

.right {
  width: 33%;
  float: right;
  text-align: right;
}

.clear {
  clear: both;
  width: 100%;
  height: 10px;
}

.your-record {
  background-color: #077916;
  border-radius: 5px;
  padding: 5px 10px;
}

.comp-record {
  background-color: #B89030;
  border-radius: 5px;
  padding: 5px 10px;
}

.lets-play {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 0px;
  margin-top: 20px;
}

#results {
  display: none;
}

#results {
  text-align: center;
}

#results img {
  max-width: 100%;
  margin: 30px 30px 20px;
}

#you-lost {
  display: none;
  
}



#you-won {
  display: none;
}

button {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #08D000;
  border: 4px solid #000;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}

button:hover {
  background-color: #3ac7b4;
  cursor: pointer;
  padding: 11px 15px 9px;
}

a {
  text-decoration: none;
  color: #c8556d;
}

footer {
  text-align: center;
  font-size: 0.813em;
  margin-top: 0px;
  width: 100%;
}

@media screen and (max-width: 750px) {

  #banner-green,
  #banner-pink,
  #banner-blue {
    font-size: 1.125em;
    padding-top: 20px;
  }

  #results img {
    margin: 10px 0 20px 0;
  }
}

@media screen and (max-width: 575px) {
  body {
    font-size: 13px;
  }

  #container {
    padding-top: 0px;
  }

  #banner-green,
  #banner-pink,
  #banner-blue {
    padding-top: 30px;
    font-size: 1em;
  }

  .col3 {
    margin: 10px 0 0;
  }

  .score {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 2px solid #000;
    margin-bottom: 10px;
  }

  #results img {
    margin: 0 0 20px 0;
  }

  button {
    margin-bottom: 20px;
    font-size: smaller;
  }
  #banner-pink {
    margin-top: 200px;
    font-size: large;
  }
  #record {
    display: none;
  }

  .choose span {
    font-size: 10px;
  }


  footer {
    margin: 0px 20px 0;
  }
}